{% extends "layout.html" %}

{% block head %}<title>Dashboard</title>{% endblock head %}

{% block content %}
<div id="chart-gender" style="width:600px;height:30px;"></div>
  <div class="pc-container">
      <!-- [ breadcrumb ] end -->
      <!-- [ Main Content ] start -->
          <div class="row">
        <!-- [ NbTotal de clients ] start -->
        <div class="col-md-6 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="mb-4">Nombre total de clients</h6>
                    <div class="row d-flex align-items-center">
                        <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-up text-success f-30 m-r-10"></i>{{ kpi1 }}</h3>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- [ Nb total de clients section ] end -->

        <!-- [ Taux d'attrition  section ] start -->
        <div class="col-md-6 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="mb-4">Taux d'attrition </h6>
                    <div class="row d-flex align-items-center">
                        <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-down text-danger f-30 m-r-10"></i>{{ kpi2 }} %</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Taux d'attrition section ] end -->

        <!-- [ Ancienneté moyenne des clients section ] start -->
        <div class="col-md-12 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="mb-4">Ancienneté moyenne des clients</h6>
                    <div class="row d-flex align-items-center">
                        <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-up text-success f-30 m-r-10"></i>{{ kpi3 }} mois</h3>
                        </div>
                        <div class="col-3 text-end">
                            <p class="m-b-0">{{ (kpi3 // 12)|int }} ans et {{ (kpi3 % 12)|int }} mois</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    <!-- [ Répartition des clients par statut d'attrition ] start -->
    <div class="col-xl-6 col-md-8 col-sm-12" style="max-width: 30%; margin: left;">
        <div class="card" style="max-width: 600px; margin: left;">
            <div class="card-body text-center">
                <div id="attrition-chart" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>
    <!-- [ Répartition des clients par statut d'attrition ] end -->

    <div class="col-xl-6 col-md-8 col-sm-12" style="max-width: 30%; margin: left;">
        <div class="card" style="max-width: 600px; margin: left;">
            <div class="card-body text-center">
                <div id="graph_nbclients_par_genre" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-8 col-sm-12" style="max-width: 30%; margin: left;">
        <div class="card" style="max-width: 600px; margin: left;">
            <div class="card-body text-center">
                <div id="attrition-taux" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-8 col-sm-12" style="max-width: 40%; margin: right;">
        <div class="card" style="max-width: 800px; margin: right;">
            <div class="card-body text-center">
                <div id="transactions" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-8 col-sm-12" style="max-width: 40%; margin: right;">
        <div class="card" style="max-width: 800px; margin: right;">
            <div class="card-body text-center">
                <div id="hist_utilisation" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-8 col-sm-12" style="max-width: 40%; margin: right;">
        <div class="card" style="max-width: 800px; margin: right;">
            <div class="card-body text-center">
                <div id="transac_moyen_by_cat" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-8 col-sm-12" style="max-width: 40%; margin: right;">
        <div class="card" style="max-width: 800px; margin: right;">
            <div class="card-body text-center">
                <div id="sunburst_revenu_cart" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-8 col-sm-12" style="max-width: 40%; margin: right;">
        <div class="card" style="max-width: 800px; margin: right;">
            <div class="card-body text-center">
                <div id="parallel_categories" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>

    

    <!-- Ajout de Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var graphJSON = {{ fig_attrition_json | safe }};
        Plotly.newPlot('attrition-chart', graphJSON.data, graphJSON.layout);

        var attritionTauxJSON = {{ taux_attrition_json | safe }};
        Plotly.newPlot('attrition-taux', attritionTauxJSON.data, attritionTauxJSON.layout);

        var transactionsJson = {{ transactions_json | safe }};
        Plotly.newPlot('transactions', transactionsJson.data, transactionsJson.layout);

        var histUtilisationJSON = {{ hist_utilisation_json | safe }};
        Plotly.newPlot('hist_utilisation', histUtilisationJSON.data, histUtilisationJSON.layout);

        var transacMoyenJson = {{ transac_moyen_by_cat_json | safe }};
        Plotly.newPlot('transac_moyen_by_cat', transacMoyenJson.data, transacMoyenJson.layout);

        var sunburstRevenuCarteJSON = {{ sunburst_revenu_cart_json | safe }};
        Plotly.newPlot('sunburst_revenu_cart', sunburstRevenuCarteJSON.data, sunburstRevenuCarteJSON.layout);

        var parallelCategoriesJson = {{ parallel_categories_json | safe }};
        Plotly.newPlot('parallel_categories', parallelCategoriesJson.data, parallelCategoriesJson.layout);

        var graphNbClients_par_genreJson = {{ graph_nbclients_par_genre_json | safe }};
        Plotly.newPlot('graph_nbclients_par_genre', graphNbClients_par_genreJson.data, graphNbClients_par_genreJson.layout);
        
    </script>

{% endblock content %}

{% block scripts %}

<script src="{{ url_for('static', filename='assets/js/plugins/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/jsvectormap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/world.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/pages/dashboard-default.js') }}"></script>


{% endblock scripts %}